---
import Icon from '../utility/icon';
const { locations } = Astro.props;
---

<swiper-container
  navigation="true"
  loop="true"
  class="swiper-container locations-slider">
  {
    locations.map((slide: any) => {
      return (
        <swiper-slide class="slide-container">
          <div class="swiper-slide-contents">
            <img
              class="max-w-[200px]"
              src={slide.image.image_path}
              alt={slide.image.alt}
            />
            <h3>{slide.name}</h3>
            <p>{slide.details}</p>
            <a href="#map" class="flex items-center gap-3">
              <button class="map-button" id={slide.name}>
                <span class="location-pin">
                  <Icon icon={'LocationPin'} />
                </span>
                {slide.address}
              </button>
            </a>
          </div>
        </swiper-slide>
      );
    })
  }
</swiper-container>
