---
import Icon from '../utility/icon';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const { locations, show_description } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/**/*.{jpeg,jpg,png,gif,svg,webp}',
  { eager: true }
);

const fallbackLocation = locations[0];
const fallbackLocationImageSrc =
  fallbackLocation.image_path?.default ?? fallbackLocation.image_path;
---

{
  ENV_BOOKSHOP_LIVE ? (
    <div class="swiper-container swiper-locations">
      <div class="slide-container">
        <div class="swiper-slide-contents text-center lg:text-left">
          <Image
            class="max-w-[200px] rounded-md"
            alt={fallbackLocation.image.alt_text}
            widths={[200]}
            sizes={`(max-width: 640px) 200px`}
            src={fallbackLocationImageSrc}
          />
          <h3>{fallbackLocation.name}</h3>
          {show_description ? <p>{fallbackLocation.description}</p> : null}
          <div class="flex mt-3">
            <span class="location-pin mr-2">
              <Icon icon={'LocationPin'} />
            </span>
            <a href="#map" class="flex items-center gap-3">
              <button class="map-button" id={fallbackLocation.name}>
                {fallbackLocation.address}
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  ) : (
    <swiper-container
      navigation="true"
      loop="true"
      class="swiper-container locations-slider">
      {locations.map((slide: any) => {
        const imageSrc =
          images[slide.image.image_path]?.default ?? slide.image.image_path;
        return (
          <swiper-slide class="slide-container">
            <div class="swiper-slide-contents text-center lg:text-left">
              <Image
                class="max-w-[200px] rounded-md"
                alt={slide.image.alt_text}
                widths={[200]}
                sizes={`(max-width: 640px) 200px`}
                src={imageSrc}
              />
              <h3>{slide.name}</h3>
              {show_description ? <p>{slide.description}</p> : null}
              <div class="flex mt-3">
                <span class="location-pin mr-2">
                  <Icon icon={'LocationPin'} />
                </span>
                <a href="#map" class="flex items-center gap-3 ">
                  <button class="map-button" id={slide.name}>
                    {slide.address}
                  </button>
                </a>
              </div>
            </div>
          </swiper-slide>
        );
      })}
    </swiper-container>
  )
}

<style is:global>
  .location-pin {
    width: 0.75rem;
    display: flex;
    align-items: center;
  }

  .map-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
</style>
