---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import Button from '../button/button.astro';

interface Props {
  imagePath: string;
  altText: string;
  title: string;
  subtitle: string;
  button: {
    text: string;
    link: string;
    background_color: string;
    text_color: string;
  };
}

const block = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}',
  { eager: true }
);

const imageSrc = images[block.imagePath];
const src =
  typeof imageSrc === 'string'
    ? imageSrc.replace(/^\./, '/_cloudcannon')
    : imageSrc ?? block.imagePath;

if (!src) {
  throw new Error(
    `"${block.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
}
---

<div class="hero">
  <div class="hero__container">
    <h1 class="hero__title">{block.title}</h1>
    <p class="hero__subtitle">{block.subtitle}</p>
    {
      block.button.text ? (
        <div class="button">
          <Button
            link={block.button.link}
            text={block.button.text}
            backgroundColor={block.button.background_color}
            textColor={block.button.text_color}
          />
        </div>
      ) : null
    }
  </div>
  <Image
    class="hero__bg-img"
    alt={block.altText}
    src={src}
    width={2000}
    height={400}
    widths={[360, 720, 1280]}
    sizes={`(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1600px) 1600px`}
  />
</div>

<style>
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 96px;
    position: relative;
    padding-top: var(--headerHeight);
  }

  .hero__bg-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    height: 100%;
    object-fit: cover;
    object-position: 0 40%;
  }

  .hero__container {
    display: grid;
    grid-template-columns: var(--twelveColumnGrid);
    max-width: var(--largeContainer);
    padding-block: 110px;
    margin: 0 auto;
    color: white;
  }

  .hero__title,
  .hero__subtitle {
    grid-column: 2 / -2;
    color: inherit;
  }

  .hero__title {
    grid-row: 1;
    font-size: 3rem;
    line-height: 1;
    margin-inline-start: -3px;
  }

  .hero__subtitle {
    grid-row: 2;
    padding-top: 5px;
  }
  @media screen and (min-width: 800px) {
    .hero__title {
      font-size: 5rem;
    }
  }

  .button {
    grid-column: 2 / -2;
    grid-row: 3;
    padding-top: 40px;
  }
</style>
