---
import SliderComponent from '../slider-components/locations-slider.astro';
import LocationsSliderHeading from '../slider-components/slider-heading.astro';
import companies from '../../../data/companies.json';
interface Props {
  flipped: boolean;
  locations: [string];
  heading: {
    heading_text: string;
    heading_color: string;
  };
  subheading: {
    subheading_text: string;
    subheading_color: string;
  };
}
const block = Astro.props;

let locations = [];
for (let i = 0; i < block.locations.length; i++) {
  const location = block.locations[i];
  for (let j = 0; j < companies.length; j++) {
    const company = companies[j];
    if (company.name === location) {
      locations.push(company);
    }
  }
}
---

<section>
  <div class="slider-container">
    {
      block.flipped ? (
        <>
          <div class="order-2 w-full sm:order-1 sm:w-1/2">
            <SliderComponent locations={locations} />
          </div>
          <div class="slider-text order-1 sm:order-2">
            <LocationsSliderHeading
              heading={block.heading}
              subheading={block.subheading}
            />
          </div>
        </>
      ) : (
        <>
          <div class="slider-text">
            <LocationsSliderHeading
              heading={block.heading}
              subheading={block.subheading}
            />
          </div>
          <div class="w-full sm:w-1/2">
            <SliderComponent locations={locations} />
          </div>
        </>
      )
    }
  </div>
</section>
