---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import Icon from '../../utility/icon';

interface Props {
  heading: string;
  text: string;
  location: string;
  image: {
    src: string;
    alt: string;
  };
  link: string;
}

const block = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/**/*.{jpeg,jpg,png,gif,svg,JPG}',
  { eager: true }
);

const imageSrc = images[block.image.src]?.default ?? block.image.src;
---

<a class="card" href={block.link}>
  <div class="image">
    {
      block.image.src ? (
        <Image
          class="hero__img"
          alt={block.image.alt}
          src={imageSrc}
          width={500}
          height={400}
        />
      ) : null
    }
    <h2>{block.heading}</h2>
    <p><span><Icon icon={'locationPin'} /></span>{block.location}</p>
    <p>{block.text}</p>
  </div>
</a>
