---
import IconCard from '../cards/icon-card.astro';
import ImageCard from '../cards/image-card.astro';
interface Props {
  type: string;
  cards: Array<any>;
}

const block = Astro.props;
---

<div class="card-grid">
  <div class="card-grid__container">
    <div class="card-grid__cards">
      {
        block.cards.map((card) => {
          if (block.type === 'icons') {
            return (
              <IconCard
                heading={card.heading}
                text={card.text}
                icon={card.icon}
                link={card.link}
                backgroundImage={card.background_image}
                backgroundColor={card.background_color}
                columnSpan={card.column_span}
              />
            );
          }
          if (block.type === 'images') {
            return (
              <ImageCard
                heading={card.heading}
                text={card.text}
                image={card.image}
                link={card.link}
                backgroundImage={card.background_image}
                backgroundColor={card.background_color}
                columnSpan={card.column_span}
              />
            );
          }
        })
      }
    </div>
  </div>
</div>

<style>
  .card-grid__container {
    display: grid;
    gap: 1rem;
    justify-content: center;
    max-width: var(--largeContainer);
    margin: 0 auto;
    padding-block: 96px;
    padding-inline: var(--pagePadding);
  }
  .card-grid__cards {
    display: grid;
    justify-content: space-between;
    width: 100%;
  }
  @media screen and (min-width: 800px) {
    .card-grid__cards {
      grid-template-columns: repeat(3, calc(min(400px, 30%)));
    }
  }
</style>
