---
import SliderComponent from '../slider-components/slider.astro';
import SliderHeading from '../slider-components/slider-heading.astro';
const block = Astro.props;
---

<section>
  {
    block.flipped ? (
      <div class="slider-container">
        <div class="order-2 w-full sm:w-1/2 ">
          <SliderComponent slides={block.slides} />
        </div>
        <div class="slider-text order-1">
          <SliderHeading
            heading={block.heading}
            subheading={block.subheading}
          />
        </div>
      </div>
    ) : (
      <div class="slider-container">
        <div class="slider-text">
          <SliderHeading
            heading={block.heading}
            subheading={block.subheading}
          />
        </div>
        <div class="w-full sm:w-1/2 ">
          <SliderComponent slides={block.slides} />
        </div>
      </div>
    )
  }
</section>

<style is:global>
  .slider-container {
    max-width: var(--pageContainer);
    margin: 0 auto;
    padding-block: 24px;
    padding-inline: var(--pagePadding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .slider-text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .slider-heading {
    font-size: 2.5rem;
  }

  .swiper-slide-contents {
    padding-inline: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .swiper-slide-active .swiper-slide-contents {
    border-radius: 8px;
    background-color: white;
    border-radius: 8px;
  }

  .swiper-wrapper {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  @media only screen and (min-width: 640px) {
    .slider-container {
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
    }
    .slider-text {
      width: 50%;
    }
    .swiper-slide-contents {
      align-items: center;
    }
  }
  @media only screen and (min-width: 850px) {
    .slider-container {
      padding-block: 48px;
    }
    .slider-heading {
      font-size: 3rem;
    }
  }
  @media only screen and (min-width: 1024px) {
    .slider-container {
      gap: 5rem;
    }
    .slider-heading {
      font-size: 4rem;
    }
  }
</style>
